---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>

<!-- Begin Web-Stat code v 7.0 -->
<span id="wts2183044"></span>
<script>var wts=document.createElement('script');wts.async=true;
wts.src='https://app.ardalio.com/log7.js';document.head.appendChild(wts);
wts.onload = function(){ wtslog7(2183044,2); };
</script><noscript><a href="https://www.web-stat.com">
<img src="https://app.ardalio.com/7/2/2183044.png" 
alt="Web-Stat site stats"></a></noscript>
<!-- End Web-Stat code v 7.0 -->
